/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #D4D3CF;
    bg1:    #fa4439;
    bg2:    #1C1C1C;
    bg3:    #e9e8e4;
    fg0:    #1e1c32;
    fg1:    #ECEFF4;
    fg2:    #D8DEE9;
    fg3:    #4C566A;
}

@import "rounded-common.rasi"

element selected {
    text-color: @bg1;
}
