[Desktop Entry]
Name=Theme-selector
Comment=Run my custom bash script
Exec=ghostty -e /home/$USER/.config/hypr/scripts/themeselect.sh
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
