[Desktop Entry]
Name=Theme-selector
Comment=Run my custom bash script
Exec=sh -c 'exec qs -p "$HOME/.config/hypr/themeselect/quickshell-theme-selector/shell.qml"'
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
